body {
  font-family: Arial, sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
  background-color: lightcyan;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  text-align: center;
}

ul {
    text-align: left;
    list-style-position: inside;
}

.head {
  text-align: center;
}

hr {
  height: 2px;
  background-color: black;
  border-color: black;
  width: 90%;
}

section {
  width: 75%;
}

footer {
  text-align: center;
}