body {
  font-family: Arial
}
a {
  text-decoration: none;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:focus {
  outline: 2px solid black;
}

a:visited {
  color: purple;
}

h1 {
  margin: 30px;
  text-align: center;
}

ul {
  list-style-type: none;
  background-color: pink;
  border-radius: 10px;
}

.sub-item {
  list-style-type: square;
}

li {
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: pink;
}